$gray-100: #d3d5d8;
$gray-200: #bec0c3;
$gray-300: #a8abaf;
$gray-400: #93969a;
$gray-500: #7d8186;
$gray-600: #676c71;
$gray-700: #52575d;
$gray-800: #3c4248;
$gray-900: #272d34;
$black: #11181f;
$blue: #42a5f5;
$indigo: #5c6bc0;
$purple: #7e57c2;
$pink: #ec407a;
$red: #ef5350;
$orange: #ff7043;
$yellow: #ffee58;
$green: #66bb6a;
$teal: #26a69a;
$cyan: #26c6da;
$primary: #03a678;
$warning: $orange;
$body-bg: $gray-900;
$white: #ffffff;
$body-color: $white;
$font-family-sans-serif: -apple-system, 'Comfortaa', BlinkMacSystemFont, Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$table-dark-color: $black;
$table-dark-bg: $gray-200;
$table-dark-accent-bg: rgba($black, 0.05);
$table-dark-hover-bg: rgba($black, 0.075);
$table-hover-bg: rgba($white, 0.075);
$table-accent-bg: rgba($white, 0.05);
$table-head-color: $gray-100;
$table-head-bg: $gray-700;
$input-bg: $gray-800;
$input-disabled-bg: $gray-700;
$input-color: $gray-100;
$input-border-color: $gray-800;
$input-placeholder-color: $gray-400;
$input-group-addon-bg: $gray-800;
$nav-link-disabled-color: $gray-700;
$nav-tabs-border-color: $gray-600;
$nav-tabs-link-hover-border-color: $gray-300 $gray-300 $nav-tabs-border-color;
$nav-tabs-link-active-color: $gray-200;
$nav-divider-color: $gray-400;
$pagination-bg: $gray-900;
$pagination-border-color: $gray-600;
$pagination-hover-bg: $gray-900;
$link-hover-color: lighten($link-color, 15%);
$pagination-disabled-color: $gray-300;
$pagination-disabled-bg: $gray-800;
$pagination-disabled-border-color: $gray-600;
$jumbotron-bg: $gray-900;
$card-bg: $gray-800;
$card-border-color: $gray-800;
$toast-background-color: rgba($black, 0.85);
$toast-header-background-color: rgba($black, 0.85);
$toast-header-color: $gray-200;
$modal-backdrop-bg: $white;
$modal-content-bg: $black;
$progress-bg: $gray-800;
$list-group-border-color: rgba($white, 0.125);
$list-group-bg: $gray-800;
$list-group-hover-bg: $gray-700;
$list-group-disabled-color: $gray-400;
$list-group-action-color: $gray-100;
$list-group-action-active-bg: $gray-700;
$thumbnail-border-color: $gray-800;
$breadcrumb-bg: $gray-800;
$breadcrumb-divider-color: $gray-300;
$breadcrumb-active-color: $gray-200;
$close-color: $white;
$alert-bg-level: -1;
$alert-border-level: 0;
$alert-color-level: 0;
$border-color: $gray-600;
$card-cap-bg: rgba($black, 0.2);
$enable-shadows: true;
$input-box-shadow: null;
$btn-box-shadow: 0 0 4px 0 $gray-600;
$box-shadow: 0 0 4px 0 $gray-600;
$danger: $pink;
$modal-header-border-color: $black;
$text-muted: $gray-200;
$blockquote-small-color: $gray-200;
$hr-border-color: rgba($white, 0.1);
$badge-pill-padding-x: 0.9em;
$badge-padding-x: 0.5em;
