@import './variables';

// Custom Styles
html, body {
  height: 100%;
}
body {
  padding-bottom: 60px;
}

pre {
    background-color: $input-bg;
    border: $input-border-width solid $input-border-color;
}
// Flexbox Styles 
.flex-fill {
  flex:1;
}
.flex-grow {
  flex: 1 0 auto;
}
.flex-shrink {
  flex: 0 0 auto;
}

@import './_footer.scss';